body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Harlow Solid Italic Italic';
  src: local('Harlow Solid Italic Italic'), url('./resources/fonts/Harlow Solid Italic Italic.ttf') format('truetype');
}

body {
  font-family: 'Harlow Solid Italic Italic' !important;
}
